@import "tailwindcss";

:root {
  --font-potta-one: 'Potta One', cursive;
  --font-patua-one: 'Patua One', cursive;
}

/* Default body font */
body {
  font-family: var(--font-patua-one), sans-serif;
}

/* Utility classes untuk font */
.font-potta {
  font-family: var(--font-potta-one), cursive;
}

.font-patua {
  font-family: var(--font-patua-one), cursive;
}