@import "tailwindcss";

:root {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-inter: 'Inter', sans-serif;
}

body {
  font-family: var(--font-inter), sans-serif;
}

.font-jakarta {
  font-family: var(--font-jakarta), sans-serif;
}

.font-inter {
  font-family: var(--font-inter), sans-serif;
}